In [29]:
# needed librairies
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_curve, precision_recall_curve
from sklearn.metrics import mean_squared_error

**Loading Data**

In [30]:
data = pd.read_csv('HIGGS_train.csv', dtype={'8': float, '21': float})

# define the headers of the dataset
column_names = ['class_label', 'lepton_pt', 'lepton_eta', 'lepton_phi', 'missing_energy_magnitude', 'missing_energy_phi',
                'jet_1_pt', 'jet_1_eta', 'jet_1_phi', 'jet_1_btag', 'jet_2_pt', 'jet_2_eta', 'jet_2_phi', 'jet_2_btag',
                'jet_3_pt', 'jet_3_eta', 'jet_3_phi', 'jet_3_btag', 'jet_4_pt', 'jet_4_eta', 'jet_4_phi', 'jet_4_btag',
                'm_jj', 'm_jjj', 'm_lv', 'm_jlv', 'm_bb', 'm_wbb', 'm_wwbb']

# assign the headers to the data
data.columns=column_names

cleaned_data = data.copy();

C:\Users\Malak\AppData\Local\Temp\ipykernel_17004\237186723.py:1: DtypeWarning: Columns (8,21) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('HIGGS_train.csv', dtype={'8': float, '21': float})

**Exploring Data**

In [31]:
# check the first few rows of the data
print("The first few rows:\n")
print(data.head())
print("\n")

# retrive the information of the data
print("Data Information:\n")
print(data.info())
print("\n")

# retrive basic statistics about the data
print("Data Statistics:\n")
print(data.describe())
print("\n")

# retrive the shape of the data
print("Data Shape:\n")
print(data.shape)
print("\n")

The first few rows:

   class_label  lepton_pt  lepton_eta  lepton_phi  missing_energy_magnitude
0          1.0      0.908       0.329     0.35900                     1.500  \
1          1.0      0.799       1.470    -1.64000                     0.454
2          0.0      1.340      -0.877     0.93600                     1.990
3          1.0      1.110       0.321     1.52000                     0.883
4          0.0      1.600      -0.608     0.00707                     1.820

   missing_energy_phi  jet_1_pt  jet_1_eta jet_1_phi  jet_1_btag  ...
0              -0.313     1.100     -0.558     -1.59        2.17  ...  \
1               0.426     1.100      1.280      1.38        0.00  ...
2               0.882     1.790     -1.650    -0.942        0.00  ...
3              -1.210     0.681     -1.070    -0.922        0.00  ...
4              -0.112     0.848     -0.566      1.58        2.17  ...

   jet_4_eta  jet_4_phi  jet_4_btag   m_jj  m_jjj   m_lv  m_jlv   m_bb  m_wbb
0     -1.140  -0.000819         0.0  0.302  0.833  0.986  0.978  0.780  0.992  \
1      1.130   0.900000         0.0  0.910  1.110  0.986  0.951  0.803  0.866
2     -0.678  -1.360000         0.0  0.947  1.030  0.999  0.728  0.869  1.030
3     -0.374   0.113000         0.0  0.756  1.360  0.987  0.838  1.130  0.872
4     -0.654  -1.270000         3.1  0.824  0.938  0.972  0.789  0.431  0.961

   m_wwbb
0   0.798
1   0.780
2   0.958
3   0.808
4   0.958

[5 rows x 29 columns]


Data Information:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599999 entries, 0 to 599998
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   class_label               599999 non-null  float64
 1   lepton_pt                 599999 non-null  float64
 2   lepton_eta                599999 non-null  float64
 3   lepton_phi                599999 non-null  float64
 4   missing_energy_magnitude  599999 non-null  float64
 5   missing_energy_phi        599999 non-null  float64
 6   jet_1_pt                  599999 non-null  float64
 7   jet_1_eta                 599999 non-null  float64
 8   jet_1_phi                 599999 non-null  object
 9   jet_1_btag                599999 non-null  float64
 10  jet_2_pt                  599999 non-null  float64
 11  jet_2_eta                 599999 non-null  float64
 12  jet_2_phi                 599999 non-null  float64
 13  jet_2_btag                599999 non-null  float64
 14  jet_3_pt                  599999 non-null  float64
 15  jet_3_eta                 599999 non-null  float64
 16  jet_3_phi                 599999 non-null  float64
 17  jet_3_btag                599998 non-null  float64
 18  jet_4_pt                  599999 non-null  float64
 19  jet_4_eta                 599999 non-null  float64
 20  jet_4_phi                 599999 non-null  float64
 21  jet_4_btag                599999 non-null  object
 22  m_jj                      599999 non-null  float64
 23  m_jjj                     599999 non-null  float64
 24  m_lv                      599999 non-null  float64
 25  m_jlv                     599999 non-null  float64
 26  m_bb                      599999 non-null  float64
 27  m_wbb                     599999 non-null  float64
 28  m_wwbb                    599999 non-null  float64
dtypes: float64(27), object(2)
memory usage: 132.8+ MB
None


Data Statistics:

         class_label      lepton_pt     lepton_eta     lepton_phi
count  599999.000000  599999.000000  599999.000000  599999.000000  \
mean        0.529286       0.992486      -0.000111       0.000166
std         0.499142       0.565045       1.007858       1.005480
min         0.000000       0.275000      -2.430000      -1.740000
25%         0.000000       0.591000      -0.737000      -0.870000
50%         1.000000       0.854000      -0.001030       0.002640
75%         1.000000       1.240000       0.738000       0.870000
max         1.000000       8.710000       2.430000       1.740000

       missing_energy_magnitude  missing_energy_phi       jet_1_pt
count             599999.000000       599999.000000  599999.000000  \
mean                   0.998020           -0.001155       0.990147
std                    0.599282            1.006755       0.474626
min                    0.000626           -1.740000       0.139000
25%                    0.577000           -0.873000       0.679000
50%                    0.891000           -0.001920       0.894000
75%                    1.290000            0.872000       1.170000
max                    9.900000            1.740000       8.380000

           jet_1_eta     jet_1_btag       jet_2_pt  ...       jet_4_pt
count  599999.000000  599999.000000  599999.000000  ...  599999.000000  \
mean       -0.002192       1.000382       0.992592  ...       0.986216
std         1.010297       1.026463       0.500731  ...       0.505671
min        -2.970000       0.000000       0.189000  ...       0.365000
25%        -0.689000       0.000000       0.656000  ...       0.618000
50%        -0.003000       1.090000       0.890000  ...       0.868000
75%         0.685000       2.170000       1.200000  ...       1.220000
max         2.970000       2.170000      11.600000  ...      11.600000

           jet_4_eta      jet_4_phi           m_jj          m_jjj
count  599999.000000  599999.000000  599999.000000  599999.000000  \
mean       -0.000308      -0.002128       1.034047       1.024418
std         1.008151       1.005564       0.669432       0.378086
min        -2.500000      -1.740000       0.107000       0.245000
25%        -0.715000      -0.872000       0.791000       0.846000
50%        -0.000461      -0.005810       0.895000       0.950000
75%         0.715000       0.868000       1.020000       1.080000
max         2.500000       1.740000      22.300000      11.600000

                m_lv          m_jlv           m_bb          m_wbb
count  599999.000000  599999.000000  599999.000000  599999.000000  \
mean        1.050635       1.010130       0.973342       1.033155
std         0.164443       0.398453       0.524886       0.364497
min         0.092200       0.157000       0.048100       0.303000
25%         0.986000       0.768000       0.674000       0.819000
50%         0.990000       0.917000       0.873000       0.947000
75%         1.020000       1.140000       1.140000       1.140000
max         5.920000      10.500000      13.700000       8.430000

              m_wwbb
count  599999.000000
mean        0.959835
std         0.313074
min         0.351000
25%         0.770000
50%         0.872000
75%         1.060000
max         6.260000

[8 rows x 27 columns]


Data Shape:

(599999, 29)

In [32]:
# the columns 8 and 21 are of type objects: string
# the values of these columns will be checked, 
# looking for unexpected values that lead to having mixed data types

# column 8
print("Column 8: ")
print(cleaned_data['jet_1_phi'].unique())
# result: 
  # 1. float64 numeric values in string objects
  # 2. float64 numeric values in string objects and stored in a string object

# solution:
cleaned_data['jet_1_phi']=pd.to_numeric(cleaned_data['jet_1_phi'],errors='coerce')
print(cleaned_data['jet_1_phi'].unique().size)

# column 21
print("Column 21: ")
print(cleaned_data['jet_4_btag'].unique())
# result:
  # 1. float64 numeric values in string objects instead of float64 type
  # 2. alphabetical values in string objects

#solution:
cleaned_data['jet_4_btag']=pd.to_numeric(cleaned_data['jet_4_btag'], errors='coerce')
print(cleaned_data['jet_4_btag'].unique().size)

Column 8:
[-1.59 1.38 -0.942 ... '3.50E-01' '-6.59E-03' '"1.01"']
2312
Column 21:
[0.0 3.1 1.55 '0.00E+00' '3.10E+00' '1.55E+00' 'error' 's']
4

**Data Cleaning**

In [33]:
# remove the training examples with NaN values from the dataset
cleaned_data.dropna(inplace=True)

# testing the realtime

# the cleaned dataset will be saved to a new CSV file
cleaned_data.to_csv('HIGGS_train_cleaned.csv', index=False)

For **regression and decision trees**, we will use the complete set of features (low-level and high-level combined) to take advantage of the manually constructed high-level features.

For **neural networks**, since we will be using a deep-learning technique, we will use either the low-level features or the complete set of features.

According to the paper, deep-learning techniques show nearly equivalent performance using these two feature sets and can automatically discover the insight contained in the high-level features even if you only use the low-level features.

**Usage of the complete set of features**

**test_size** determines the proportion of the data that will be allocated for the testing set. In this case, test_size=0.2 means that **20%** of the data will be used **for testing**, and the remaining **80%** will be used for **training**.

**random_state** is an optional parameter that sets the random seed used by the random number generator. This **ensures** that the **random splitting of the data is reproducible**, meaning that if you run the same code multiple times with the same random_state value, you will get the same split of data into training and testing sets.

In [ ]:
# Split the dataset into training and testing sets
X = cleaned_data.iloc[:, 1:]  # Select all columns except the first one as features
y = cleaned_data.iloc[:, 0]   # Select the first column as the target variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

**Linear Regression Model**

In [ ]:
# Create a linear regression model and fit it to the training set
model = LinearRegression()
model.fit(X_train, y_train)

# Use the model to make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model's mean squared error
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error: {:.2f}'.format(mse))

**Logistic Regression**

In [ ]:
# Create a logistic regression model and fit it to the training set
model = LogisticRegression()
model.fit(X_train, y_train)

# Use the model to make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model's accuracy
accuracy_logistic = accuracy_score(y_test, y_pred)
print('Accuracy: {:.2f}'.format(accuracy_logistic))

**Decision Trees**

In [ ]:
# Create a decision tree classifier and fit it to the training set
clf = DecisionTreeClassifier(random_state=42)
clf.fit(X_train, y_train)

# Evaluate the classifier's accuracy on the test set
accuracy_decisionTrees = clf.score(X_test, y_test)
print('Accuracy: {:.2f}'.format(accuracy_decisionTrees))